* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

nav {
  background-color: #eeeeee;
}
nav li {
  list-style: none;
  padding: 10px;
  display: inline-block;
  background-color: #c2c2c2;
}
@media (max-width: 300px) {
  nav li nav li {
    display: block;
  }
}
nav li a {
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
nav li a:hover {
  color: red;
}

.error, section p {
  border-radius: 10px;
  background-color: #424242;
  color: #b97d34;
  text-align: center;
  padding: 20px;
  border: 2px solid #aabccd;
}

main article a {
  border-radius: 10px;
  background-color: #aabccd;
  padding: 10px;
  text-align: center;
}

main {
  width: 30%;
  margin: 0 auto;
  color: white;
}
main div {
  padding: 15px;
  margin: 20px;
}
main div:nth-child(1) {
  background-color: red;
}
main div:nth-child(2) {
  background-color: #0077ff;
}
main div:nth-child(3) {
  background-color: black;
}
main div:nth-child(4) {
  background-color: #21c72f;
}
