main {
  width: 30%;
  margin: 0 auto;
  color: $whiteColor;
  div {
    padding: 15px;
    margin: 20px;
    &:nth-child(1) {
      background-color: $divItemR;
    }
    &:nth-child(2) {
      background-color: $divItemBu;
    }
    &:nth-child(3) {
      background-color: $divItemBk;
    }
    &:nth-child(4) {
      background-color: $divItemG;
    }
  }
}
